/*mixin*/
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin before {
  animation: stretch 0.25s ease-in-out;
  position: absolute;
  font-size: 18px;
  left: -100px;
  font-style: italic;
  background: #96955d;
  width: 100px;
  height: 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
/*nav-links*/
.nav-links {
  margin: 0;
  padding: 0;
  //   @media screen and (max-width: 435px) {
  //     height: 260px;
  //   }
  &__item {
    list-style: none;
  }
  &__link {
    font-size: 20px;
    font-weight: bold;
    @include flex;
    color: black;
    text-decoration: none;
    background: #96955d;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0;
    padding: 0;
    transition: width 0.25s ease-in-out;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    // @media screen and (max-width: 435px) {
    //   font-weight: normal;
    //   width: 30px;
    //   height: 30px;
    //   font-size: 10px;
    // }
    &--gh:hover {
      position: relative;
      width: 58px;
      color: white;
      background: #252a2f;
      &::before {
        @include before;
        @include flex;
        content: "GitHub";
      }
      //   @media screen and (max-width: 435px) {
      //     width: 22px;
      //   }
    }
    &--be:hover {
      position: relative;
      width: 58px;
      color: white;
      background: #0057ff;
      &::before {
        @include before;
        @include flex;
        content: "Behance";
      }
      //   @media screen and (max-width: 435px) {
      //     width: 22px;
      //   }
    }
    &--fb:hover {
      position: relative;
      width: 58px;
      color: white;
      background: #3b5894;
      &::before {
        @include before;
        @include flex;
        content: "Facebook";
      }
      //   @media screen and (max-width: 435px) {
      //     width: 22px;
      //   }
    }
    &--yt:hover {
      position: relative;
      width: 58px;
      color: white;
      background: #ff0202;
      &::before {
        @include before;
        @include flex;
        content: "YouTube";
      }
      //   @media screen and (max-width: 435px) {
      //     width: 22px;
      //   }
    }
    &--in:hover {
      position: relative;
      width: 58px;
      color: white;
      background: #0077b5;
      &::before {
        @include before;
        @include flex;
        content: "Linkedin";
      }
      //   @media screen and (max-width: 435px) {
      //     width: 22px;
      //   }
    }
  }
  &__list {
    height: 480px;
    width: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    // @media screen and (max-width: 435px) {
    //     height: 260px;
    //   }
  }
}

@keyframes stretch {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
