@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-language {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  height: 480px;
  width: 100px;
  &__item {
    list-style: none;
  }
  &__link {
    &--en {
      @include flex;
      color: rgb(196, 85, 85);
      text-decoration: none;
      font-weight: bold;
      background: rgb(56, 56, 170);
      width: 50px;
      height: 50px;
      text-align: center;
      margin: 0;
      transition: All 0.25s ease-in-out;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      @media screen and (max-width: 435px) {
        font-weight: normal;
        width: 20px;
        height: 20px;
        font-size: 10px;
      }
      &:hover {
        width: 58px;
        transition: All 0.25s ease-in-out;
        color: white;
        background: #395181;
        @media screen and (max-width: 435px) {
          width: 22px;
        }
      }
    }
    &--pl {
      @include flex;
      color: white;
      text-decoration: none;
      font-weight: bold;
      background: rgb(196, 85, 85);
      width: 50px;
      height: 50px;
      text-align: center;
      margin: 0;
      transition: All 0.25s ease-in-out;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      @media screen and (max-width: 435px) {
        font-weight: normal;
        width: 20px;
        height: 20px;
        font-size: 10px;
      }
      &:hover {
        width: 58px;
        transition: All 0.25s ease-in-out;
        color: rgb(0, 0, 0);
        background: rgb(207, 117, 117);
        @media screen and (max-width: 435px) {
          width: 22px;
        }
      }
    }
  }
}
