/*reset-m.korsan idea*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*body*/
.body {
  background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/fs/6e4290101942177.5f2affeb2f73d.png");
  background-size: contain;
  background-position: center center;
  background-color: black;
  font-family: "Miriam Libre", sans-serif;
  color: #191c21;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}
/*language*/
.language {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100vw;
}
.language__pl,
.language__en {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-right: 3px solid #a1d590;
  border-left: 3px solid #356c7d;
  border-top: 3px solid #7d1ea9;
  border-bottom: 3px solid #df1bde;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: 100px 20px;
  transition-duration: 0.25s;
  background: rgb(166, 149, 134);
  background: linear-gradient(
    -90deg,
    rgba(166, 149, 134, 1) 0%,
    rgba(239, 234, 229, 1) 100%
  );
  color: #595cca;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
}

.language__pl:hover {
  transform: scale(1.05);
  transition-duration: 0.25s;
}
.language__en:hover {
  transform: scale(1.05);
  transition-duration: 0.25s;
}

/*main*/
.main {
  margin: 0;
}

/*article*/
.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: #272727;
  width: 480px;
  height: 480px;
  box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75);
  margin-left: 188px;
  padding: 10px;
}

/*my header*/
.header__title {
  font-size: 36px;
  color: #96955d;
  margin: 0;
}
.header__description {
  margin: 0;
  font-style: italic;
  color: #595cca;
}

/*my picture*/
.picture-link {
  border-right: 3px solid #a1d590;
  border-left: 3px solid #356c7d;
  border-top: 3px solid #7d1ea9;
  border-bottom: 3px solid #df1bde;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
}

.picture-link__image {
  width: 148px;
  height: 148px;
  transition-duration: 0.25s;

}
.picture-link__image:hover {
  transform: scale(1.05);
  transition-duration: 0.25s;
}

/*about-me*/
.about-me {
  margin: 0;
  color: #96955d;
}
.about-me__special {
  color: #7d1ea9;
  font-weight: normal;
}

/*on the web*/
.onTheWeb {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a1d590;
  font-size: 16px;
  margin: 0;
}
.onTheWeb__link {
  color: #356c7d;
  text-decoration: none;
  margin-left: 15px;
}

/*mediaqueries*/
@media screen and (max-width: 1010px) {
}

/* 
Color i use: 
#f59549 - orange 
#191c21 - dark
lightcoral
rgb(187, 187, 187)

  background: rgb(95, 60, 111);
  background: linear-gradient(
    90deg,
    rgba(95, 60, 111, 1) 0%,
    rgba(177, 175, 122, 1) 100%
  );
*/
