/*reset-m.korsan idea*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/*body*/
.body {
  background-image: url("../images/kamil-bg.png");
  background-size: cover;
  background-position: center;
  background-color: black;
  font-family: "Miriam Libre", sans-serif;
  color: #191c21;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  min-height: 100vh; }

/* ----------HEADER---------- */
/*language*/
.language {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  height: 480px;
  width: 100px; }
  .language__en {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #c45555;
    text-decoration: none;
    font-weight: bold;
    background: #3838aa;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0;
    transition: All 0.25s ease-in-out;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; }
    @media screen and (max-width: 435px) {
      .language__en {
        font-weight: normal;
        width: 20px;
        height: 20px;
        font-size: 10px; } }
    .language__en:hover {
      width: 58px;
      transition: All 0.25s ease-in-out;
      color: white;
      background: #395181; }
      @media screen and (max-width: 435px) {
        .language__en:hover {
          width: 22px; } }
  .language__pl {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: #c45555;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0;
    transition: All 0.25s ease-in-out;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px; }
    @media screen and (max-width: 435px) {
      .language__pl {
        font-weight: normal;
        width: 20px;
        height: 20px;
        font-size: 10px; } }
    .language__pl:hover {
      width: 58px;
      transition: All 0.25s ease-in-out;
      color: black;
      background: #cf7575; }
      @media screen and (max-width: 435px) {
        .language__pl:hover {
          width: 22px; } }

/* ----------MAIN---------- */
/*main*/
.main {
  margin: 0; }

/* ----------ARTICLE---------- */
/*article*/
.article {
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75); }
  @media screen and (max-width: 600px) {
    .article {
      width: 320px; } }
  @media screen and (max-width: 435px) {
    .article {
      width: 260px; } }

/*my header*/
.header {
  color: #96955d;
  text-shadow: -1px -1px 1px rgba(10, 9, 9, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  background: #272727;
  height: 100px;
  width: 480px;
  border-bottom: 4px solid #96955d;
  text-shadow: -1px -1px 1px rgba(10, 9, 9, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
  @media screen and (max-width: 600px) {
    .header {
      width: 320px; } }
  @media screen and (max-width: 435px) {
    .header {
      height: 50px;
      width: 260px; } }
  .header__title {
    margin: 0;
    padding-top: 20px;
    font-size: 36px; }
    @media screen and (max-width: 600px) {
      .header__title {
        font-size: 26px; } }
    @media screen and (max-width: 435px) {
      .header__title {
        font-size: 16px;
        padding-top: 6px; } }
  .header__description {
    font-style: italic;
    color: #595cca;
    margin: 0;
    padding-bottom: 20px; }
    @media screen and (max-width: 600px) {
      .header__description {
        font-size: 14px; } }
    @media screen and (max-width: 435px) {
      .header__description {
        font-size: 10px; } }

/*animation*/
@keyframes picture {
  from {
    background-image: url("../images/kamil-bc1.png"); }
  to {
    background-image: url("../images/kamil-bc2.png"); } }

/*my picture*/
.mypicture {
  animation: picture 4s linear infinite alternate;
  background-size: contain;
  width: 480px;
  height: 480px;
  box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.75); }
  @media screen and (max-width: 600px) {
    .mypicture {
      width: 320px;
      height: 320px; } }
  @media screen and (max-width: 435px) {
    .mypicture {
      width: 260px;
      height: 260px; } }

/*about-me*/
.about-me {
  background: #272727;
  margin: 0;
  color: #96955d;
  padding: 12px;
  height: 100px;
  width: 480px;
  border-top: 4px solid #96955d;
  text-shadow: -1px -1px 1px rgba(10, 9, 9, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; }
  @media screen and (max-width: 600px) {
    .about-me {
      font-size: 14px;
      width: 320px; } }
  @media screen and (max-width: 435px) {
    .about-me {
      font-size: 8px;
      width: 260px;
      height: 50px;
      padding: 6px; } }
  .about-me__special {
    color: #595cca; }

/* ----------FOOTER---------- */
/*on the web*/
.onTheWeb {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin: 0;
  height: 480px;
  width: 100px;
  font-size: 20px; }
  @media screen and (max-width: 435px) {
    .onTheWeb {
      height: 260px; } }
  .onTheWeb__link {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    background: #96955d;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 0;
    transition: All 0.25s ease-in-out;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px; }
    @media screen and (max-width: 435px) {
      .onTheWeb__link {
        font-weight: normal;
        width: 20px;
        height: 20px;
        font-size: 10px; } }
    .onTheWeb__link--gh:hover {
      width: 58px;
      transition: All 0.25s ease-in-out;
      color: white;
      background: #252a2f; }
      @media screen and (max-width: 435px) {
        .onTheWeb__link--gh:hover {
          width: 22px; } }
    .onTheWeb__link--be:hover {
      width: 58px;
      transition: All 0.25s ease-in-out;
      color: white;
      background: #0057ff; }
      @media screen and (max-width: 435px) {
        .onTheWeb__link--be:hover {
          width: 22px; } }
    .onTheWeb__link--fb:hover {
      width: 58px;
      transition: All 0.25s ease-in-out;
      color: white;
      background: #3b5894; }
      @media screen and (max-width: 435px) {
        .onTheWeb__link--fb:hover {
          width: 22px; } }
    .onTheWeb__link--yt:hover {
      width: 58px;
      transition: All 0.25s ease-in-out;
      color: white;
      background: #ff0202; }
      @media screen and (max-width: 435px) {
        .onTheWeb__link--yt:hover {
          width: 22px; } }
