/*reset-m.korsan idea*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*body*/
.body {
  background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/b482b390815521.5ee27ce50bb03.jpg);
  background-size: cover;
  background-position: center center;
  background-color: black;
  font-family: "Miriam Libre", sans-serif;
  color: #191c21;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
/*main*/
.main {
  background: rgba(255, 247, 243, 0.97);
  border-radius: 16px;
  margin: 16px;
  padding: 32px;
  width: 624px;
  display: flex;
  box-shadow: 0px 0px 15px black;
}
/*card*/
.card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card__image,
.card__link--img {
  margin-right: 32px;
  width: 148px;
  border-radius: 148px;
  height: 148px;
  transition-duration: 0.25s;
  margin-bottom: 50px;
}
.card__image:hover {
  transform: scale(1.05);
  transition-duration: 0.25s;
}
.card__title {
  font-size: 36px;
  margin: 0;
}
.card__description {
  font-size: 16px;
  margin: 0;
  line-height: 22px;
  padding-bottom: 22px;
}
.card__description--p {
  font-style: italic;
  color: rgb(187, 187, 187);
  padding-bottom: 24px;
}
.card__link {
  color: lightcoral;
  text-decoration: none;
}
/*specjal*/
.special {
  color: #f59549;
  font-weight: normal;
}

@media screen and (max-width: 1010px) {
  .card__title {
    font-size: 24px;
  }
  .card__description {
    font-size: 14px;
  }
}
@media screen and (max-width: 760px) {
  .card__title {
    font-size: 24px;
  }
  .card__description {
    font-size: 12px;
  }
  .main {
    margin: 10px;
    padding: 20px;
  }
}
@media screen and (max-width: 430px) {
  .card__title {
    font-size: 16px;
  }
  .card__description {
    font-size: 8px;
  }
  .card__image,
  .card__link--img {
    margin-right: 10px;
    width: 120px;
    height: 120px;
  }
  .card__description--p {
    padding-bottom: 6px;
  }
  .main {
    margin: 10px;
    padding: 15px;
  }
}
@media screen and (max-width: 270px) {
  .card__title {
    font-size: 12px;
  }
  .card__description {
    font-size: 8px;
  }
  .card__image,
  .card__link--img {
    display: none;
  }
  .card__description--p {
    padding-bottom: 6px;
  }
  .main {
    margin: 14px;
    padding: 10px;
  }
}
/*color i use #f59549-orange #191c21-dark*/
