@import "./assets/scss/nav-language.scss";
@import "./assets/scss/nav-links.scss";
@import "./assets/scss/section.scss";

/*mixin*/
@mixin flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*reset-m.korsan idea*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/*body*/
.body {
  background-image: url("../images/kamil-bg.png");
  background-size: cover;
  background-position: center;
  font-family: "Miriam Libre", sans-serif;
  @include flex;
  min-height: 100vh;
}

/*main*/
.main {
  margin: 0;
}